{% extends 'admin/base.html.twig' %}


{% block title %}Creation d'un Trajet
{% endblock %}

{% block body %}

<div class="row mb-2">
		<a href=javascript:history.go(-1)>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewbox="0 0 16 16">
				<path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
			</svg>
			Retour
		</a>
		
	</div>
	
	<div class="container">
	<h2>Création d'un Trajet</h2>
		<div class="row d-flex  ">
			<div class="col-sm-8 col-md-6">
				<div style="display: {{display}} ;">
					<div class="alert alert-danger d-flex align-items-center " role="alert">
						<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
							<symbol id="exclamation-triangle-fill" fill="white" viewbox="0 0 16 16">
								<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
							</symbol>
						</svg>
						<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
						<div class="ml-3 text-white">
							Ce trajet existe déja
						</div>
					</div>
				</div>
			</div>
		</div>
		
		{{ form_start(form, {'attr' : {'novalidate': 'novalidate'}}) }}
		<div class="row mb-3">
			<div class="col-8 col-md-4 col-lg-3 ">
				<label class="text-dark">Depart :</label>
				<div class="input-group input-group-outline ">
					{{ form_widget(form.depart, {'attr': {'class': 'form-control bg-white'}}) }}

				</div>
				<div class="text-danger">
					{{ form_errors(form.depart) }}

				</div>
			</div>
			<div class="col-8 col-md-4 col-lg-3">
				<label class="text-dark">Destination :</label>
				<div class="input-group input-group-outline">
					{{ form_widget(form.destination, {'attr': {'class': 'form-control bg-white'}}) }}

				</div>
				<div class="text-danger">
					{{ form_errors(form.destination) }}

				</div>
			</div>
		</div>

		<div class="row my-3">
			<div class="col-8 col-md-8 col-lg-6">
				<label class="text-dark">Etat :</label>
				<div class="input-group input-group-outline">

					{{form_widget(form.etat, {'attr': {'class': 'form-control bg-white'}})}}

				</div>
				<div class="text-danger">
					{{form_errors(form.etat) }}

				</div>
			</div>
		</div>

		<div class="row my-3">
			<div class="col-8 col-md-8 col-lg-6">
				<label class="text-dark">Directions :</label>
				<div class="input-group input-group-outline">

					{{form_widget(form.directions, {'attr': {'class': 'form-control bg-white', 'rows': '4'}})}}

				</div>
				<div class="text-danger">
					{{form_errors(form.directions) }}

				</div>

			</div>
		</div>


		<div class="row my-3">
			<div class="col-8 col-md-4 col-lg-3">
				<label class="text-dark">Latitude :</label>
				<div class="input-group input-group-outline ">
					{{ form_widget(form.latitude, {'attr': {'class': 'form-control bg-white'}}) }}

				</div>
				<div class="text-danger">
					{{ form_errors(form.latitude) }}

				</div>
			</div>
			<div class="col-8 col-md-4 col-lg-3">
				<label class="text-dark">Longitude :</label>
				<div class="input-group input-group-outline">
					{{ form_widget(form.longitude, {'attr': {'class': 'form-control bg-white'}}) }}

				</div>
				<div class="text-danger">
					{{ form_errors(form.longitude) }}

				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-8 col-md-2 col-lg-1"></div>
			<div class="col-8 col-md-4 col-lg-4">
				<div class="text-center">

					{{ form_widget(form.save, {'attr': {'class': 'btn bg-gradient-success w-100 '}, 'label': 'Ajouter Trajet'}) }}

				</div>
			</div>
			<div class="col-8 col-md-2 col-lg-1"></div>
		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}
