{% extends 'admin/base.html.twig' %}

{% block title %}Liste des Trajets
{% endblock %}

{% block body %}


	<!-- Modal -->
	<div class="modal modal-sm fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Voulez-vous vraiment supprimer ce trajet ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Fermer</button>
					<a id="btn" href="" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
						<button type="button" class="btn btn-danger btn-sm">Confirmer</button>
					</a>

				</div>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-12">
			<div class="d-flex justify-content-between align-items">
				<div>
					<a href="{{ path('app_trajet_create')}}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
						<button type="button" class="btn btn-success ">Ajouter un trajet</button>
					</a>
				</div>

				<div>

					{{form_start(searchForm,{'attr' : {'novalidate': 'novalidate'}})}}

					<div class="input-group">
						<a href="{{ path('app_trajet_list')}}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
							<button type="button" class="btn btn-secondary " style="box-shadow : none !important;">Reset</button>
						</a>
						<div class="form-outline ">

							<div class=" input-group input-group-outline">
								{{ form_widget(searchForm.field, {'attr': {'class': 'form-control bg-white'}}) }}

							</div>

						</div>
						{{form_widget(searchForm.search, {'attr': {'class': 'btn btn-info'}})}}
					</div>


					{{form_end(searchForm)}}
				</div>

			</div>


			<div class="card mb-4">
				<div class="card-body px-0 pb-2">

					<div class="table-responsive p-0">

						<table class="table align-items-center mb-0">
							<thead>
								<tr>
									<th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Depart</th>
									<th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Destination</th>
									<th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Etat</th>
									<th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Nombre de vues</th>
									<th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Date de création</th>
									<th class="text-secondary opacity-7"></th>
								</tr>
							</thead>
							<tbody>
								{% if trajets is empty %}
									<tr>

										<td colspan="6">
											<span class="text-secondary text-xs font-weight-bold ">Il n'y a aucun trajet pour le moment</span>
										</td>
									</tr>


								{% else %}

									{% for trajet in trajets %}
										<tr>
											<td class="align-middle text-center">
												<span class="text-secondary text-xs font-weight-bold text-start">{{trajet.getDepart()}}</span>
											</td>
											<td class="align-middle text-center">
												<span class="text-secondary text-xs font-weight-bold">{{trajet.getDestination()}}</span>
											</td>
											<td class="align-middle text-center">
												<span class="text-secondary text-xs font-weight-bold ">{{trajet.getEtat()}}</span>
											</td>
											<td class="align-middle text-center">
												<span class="text-secondary text-xs font-weight-bold">{{trajet.views}}</span>
											</td>
											<td class="align-middle text-center">
												<span class="text-secondary text-xs font-weight-bold">{{trajet.dateCreation | date}}</span>
											</td>
											<td class="align-middle text-center">
												<a href="{{ path('app_trajet_read', {'id': trajet.getId()}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
													<button type="button" class="btn btn-info btn-sm">Consulter</button>
												</a>
												<a href="{{ path('app_trajet_update', {'id': trajet.getId()}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
													<button type="button" class="btn btn-outline-secondary btn-sm">Modifier</button>
												</a>

												<button type="button" class="btn btn-danger btn-sm" onclick="myFunction({{trajet.getId()}})" data-bs-target="#exampleModal" data-bs-toggle="modal">Supprimer</button>

											</td>

										</tr>
									{% endfor %}

								{% endif %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		function myFunction(id) {
const btn = document.getElementById("btn");
btn.href = "/trajet/delete/" + id;
}
	</script>

{% endblock %}
