{% extends 'user/base.html.twig' %}

{% block title %}
{{trajet.getDepart()}}
				-
				{{trajet.getDestination()}}
{% endblock %}

{% block body %}
	<a class="mb-2 text-primary" href="{{path('app_trajet_search')}}">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewbox="0 0 16 16">
			<path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
		</svg>
		Retour
	</a>
	<div class="row">

		<div class="col-md-12 ">

			<h3 class="mb-3">
				{{trajet.getDepart()}}
				-
				{{trajet.getDestination()}}</h3>
			<div>
				<div class="mb-3 ">
					<h6>Moyens de transports :</h6>
					<div class="mt-2 table-responsive">
						<table class="table table-striped">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Organisation</th>
									<th scope="col">Nom</th>
									<th scope="col">Type</th>
									<th scope="col"></th>
									<th scope="col">Places</th>
									<th scope="col">Prix</th>
									<th scope="col">Horaires</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								{% if ligneTransports is empty %}
									<tr>
										<td colspan="3">
											<span class="text-secondary text-xs font-weight-bold ">Ce trajet n'a aucun moyens de transport</span>
										</td>
									</tr>


								{% else %}

									{% for ligne in ligneTransports %}
										<tr>
											<th scope="row">
												<span class="">{{ligne.moyenTransport.organisation}}</span>
											</th>
											<td>
												<span class="text-secondary text-xs font-weight-bold">{{ligne.moyenTransport.nom}}</span>
											</td>
											<td>
												<span class="text-secondary text-xs font-weight-bold">{{ligne.moyenTransport.type}}</span>
											</td>
											<td>
												<img class="fit-picture" src="/assets/user/images/{{ligne.moyenTransport.icon}}" width='47' alt="{{ligne.moyenTransport.icon}}">
											</td>
											<td>
												<span class="text-secondary text-xs font-weight-bold">{{ligne.moyenTransport.nbrPlaces}}</span>
											</td>
											<td>
												<span class="text-secondary text-xs font-weight-bold ">{{ligne.moyenTransport.prix}}</span>
											</td>
											<td>
												<span class="text-secondary text-xs font-weight-bold">{{ligne.moyenTransport.horaires}}</span>
											</td>
											<td>
												<button type="button" class="btn btn-primary">Réserver</button>
											</td>

										</tr>

									{% endfor %}

								{% endif %}

							</tbody>
						</table>

					</div>
				</div>

				<div class="mb-3 ">
					<h6>Etat du Trajet :</h6>
					<div class="mt-2">
						<p>
							{{trajet.getEtat()}}
						</p>
					</div>
				</div>

				<div class="mb-3 ">
					<h6>Directions :</h6>
					<div class="mt-2">
						<p>
							{{trajet.getDirections()}}
						</p>
					</div>
				</div>

                <div class="mb-3 ">
					<h6>Nombre de vues :</h6>
					<div class="mt-2">
						<p>
							{{'Ce trajet a été consulté '~ trajet.views ~' fois'}}
						</p>
					</div>
				</div>

				<div class="mb-3 ">
					<h6>Etablissements :</h6>
					<div class="mt-2">


						<div class="table-responsive p-0">

							<table class="table table-striped">

								<thead class="thead-dark">
									<tr>
										<th scope="col ">Nom</th>
										<th scope="col">Type</th>
										<th scope="col">Adresse</th>
										<th scope="col">Description</th>
										<th scope="col"></th>
									</tr>
								</thead>

								<tbody>
									{% if trajet.getEtablissements() is empty %}
										<tr>

											<td colspan="3">
												<span class="text-secondary text-xs font-weight-bold ">Ce trajet n'a aucun établissement</span>
											</td>
										</tr>


									{% else %}

										{% for etablissement in trajet.getEtablissements() %}
											<tr>
												<th scope="row">
													<span class="">{{etablissement.nom}}</span>
												</th>
												<td>
													<span class="text-secondary text-xs font-weight-bold">{{etablissement.type}}</span>
												</td>
												<td>
													<span class="text-secondary text-xs font-weight-bold ">{{etablissement.adresse}}</span>
												</td>
												<td>
													<span class="text-secondary text-xs font-weight-bold ">{{etablissement.description}}</span>
												</td>
												<td class="align-middle text-center">
													<a href="{{ path('app_etablissement_details', {'id': etablissement.id}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
														<button type="button" class="btn btn-primary">Consulter</button>
													</a>
												</td>

											</tr>

										{% endfor %}

									{% endif %}

								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
