{% extends 'admin/base.html.twig' %}



{% block title %}Creation d'un établissement
{% endblock %}

{% block body %}


    <div class="row mb-3">
		<a href="{{path('app_etablissement_list')}}">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewbox="0 0 16 16">
				<path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
			</svg>
			Retour</a>
	</div>
	
	<div class="container">
	<div class="row my-3 d-flex justify-content-center ">
			<div class="col-sm-8 col-md-6">
				<div style="display: {{display}} ;">
					<div class="alert alert-danger d-flex align-items-center " role="alert">
						<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
							<symbol id="exclamation-triangle-fill" fill="white" viewbox="0 0 16 16">
								<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
							</symbol>
						</svg>
						<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
						<div class="ml-3 text-white">
							Cet établissement existe déja
						</div>
					</div>
				</div>
			</div>
		</div>
        {{ form_start(form, {'attr' : {'novalidate': 'novalidate'}}) }}
		<div class="row my-3">
			<div class="col-8 col-md-4 col-lg-3 ">
                <label class="text-dark">Nom :</label>
				<div class="input-group input-group-outline ">
					{{ form_widget(form.nom, {'attr': {'class': 'form-control bg-white'}}) }}
					
				</div>
				<div class="text-danger">		
					{{ form_errors(form.nom) }}
					
				</div>
			</div>
			<div class="col-8 col-md-4 col-lg-3">
                <label class="text-dark">Type :</label>
				<div class="input-group input-group-outline">		
					{{ form_widget(form.type, {'attr': {'class': 'form-control bg-white'}}) }}
					
				</div>
				<div class="text-danger">		
					{{ form_errors(form.type) }}
					
				</div>
			</div>
		</div>

		<div class="row my-3">
			<div class="col-8 col-md-8 col-lg-6">
                <label class="text-dark">Adresse :</label>
				<div class="input-group input-group-outline">
					
					{{form_widget(form.adresse, {'attr': {'class': 'form-control bg-white', 'rows': '4'}})}}
					
				</div>
				<div class="text-danger">		
					{{form_errors(form.adresse) }}
					
				</div>
				
			</div>
		</div>

		<div class="row my-3">
			<div class="col-8 col-md-8 col-lg-6">
                <label class="text-dark">Description :</label>
				<div class="input-group input-group-outline">
					
					{{form_widget(form.description, {'attr': {'class': 'form-control bg-white', 'rows': '4'}})}}
					
				</div>
				<div class="text-danger">		
					{{form_errors(form.description) }}
					
				</div>
				
			</div>
		</div>


        <div class="row my-3">
			<div class="col-8 col-md-4 col-lg-3">
                <label class="text-dark">Trajet :</label>
				<div class="input-group input-group-outline ">
					{{ form_widget(form.trajet, {'attr': {'class': 'px-2  bg-white form-select'}}) }}
					
				</div>
				<div class="text-danger">		
					{{ form_errors(form.trajet) }}
					
				</div>
			</div>
			
		</div>

		<div class="row my-3">
		    <div class="col-8 col-md-2 col-lg-1">
			</div>
			<div class="col-8 col-md-4 col-lg-4">
				<div class="text-center">
                
                {{ form_widget(form.save, {'attr': {'class': 'btn bg-gradient-success w-100 my-4 mb-2'}, 'label': 'Ajouter Etablissement'}) }}
					
				</div>
			</div>
			<div class="col-8 col-md-2 col-lg-1">
			</div>
		</div>
		{{ form_end(form) }}
	</div>
    
{% endblock %}

