{% extends 'admin/base.html.twig' %}

{% block title %}
{{etablissement.nom}}
{% endblock %}

{% block body %}

	<!-- Modal -->
	<div class="modal modal-sm fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Voulez-vous vraiment supprimer cet établissement ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Fermer</button>
					<a id="btn" href="" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
						<button type="button" class="btn btn-danger btn-sm">Confirmer</button>
					</a>

				</div>
			</div>
		</div>
	</div>

	<div class="row mb-2">
		<a href="javascript:history.go(-1)">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewbox="0 0 16 16">
				<path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
			</svg>
			Retour
		</a>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4 class="mb-2">Etablissement :
					{{etablissement.nom}}</h4>
				<div class="container">
					<div class="row">
						<div class='col-6'>
							<div class="row mb-2">
								<div class="col-8 col-md-4 col-lg-6">
									<h6>Nom :</h6>
									<div class="">
										<p>
											{{etablissement.nom}}
										</p>
									</div>
								</div>
								<div class="col-8 col-md-4 col-lg-6">
									<h6>Type :</h6>
									<div class="">
										<p>
											{{etablissement.type}}
										</p>
									</div>
								</div>
							</div>

							<div class="row mb-2">
								<div class="col-8 col-md-8 col-lg-12">
									<h6>Adresse :</h6>
									<div class="">
										<p>
											{{etablissement.adresse}}
										</p>
									</div>
								</div>

							</div>

							<div class="row mb-2">
								<div class="col-8 col-md-4 col-lg-6">
									<h6>Email :</h6>
									<div class="">
										<p>
											{{etablissement.email}}
										</p>
									</div>
								</div>
								<div class="col-8 col-md-4 col-lg-6">
									<h6>Telephone :</h6>
									<div class="">
										<p>
											{{etablissement.telephone}}
										</p>
									</div>
								</div>
							</div>

							<div class="row mb-2">
								<div class="col-8 col-md-8 col-lg-12">
									<h6>Horaires :</h6>
									<div class="">
										<p>
											{{etablissement.horaires}}
										</p>
									</div>
								</div>

							</div>

							<div class="row mb-2">
								<div class="col-8 col-md-8 col-lg-12">
									<h6>Description :</h6>
									<div class="">
										<p>
											{{etablissement.description}}
										</p>
									</div>
								</div>

							</div>

							<div class="mb-2 ">
								<h6>Trajet : </h6>
								<div class="">
									<a href="{{ path('app_trajet_read', {'id': etablissement.trajet.id}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
										<button type="button" class="btn btn-info btn-sm">{{etablissement.trajet.depart ~ ' --- ' ~ etablissement.trajet.destination}}</button>
									</a>

								</div>
							</div>
						</div>
                        
						<div class='col-6'>
							<div class="row mb-2">
								<div class="col-8 col-md-8 col-lg-12">
									<h6>Nombre de vues :</h6>
									<div class="">
										<p>
											{{etablissement.views}}
										</p>
									</div>
								</div>

							</div>

							<div class="row mb-2">
								<div class="col-8 col-md-8 col-lg-12">
									<h6>Date de création :</h6>
									<div class="">
										<p>
											{{etablissement.dateCreation | date}}
										</p>
									</div>
								</div>

							</div>

							<div class="row mb-2">
								<div class="col-8 col-md-4 col-lg-12">
									<h6>Photo de l'établissement :</h6>
									<div class="">
										<img class="fit-picture " width='100%' src="/assets/admin/imgEtablissement/{{etablissement.image}}" alt="{{etablissement.image}}">
									</div>
								</div>

							</div>

						</div>
					</div>

					<div class=" ">

						<a href="{{ path('app_etablissement_update', {'id': etablissement.getId()}) }}" class="text-secondary font-weight-bold text-xs " data-toggle="tooltip" data-original-title="Edit user">
							<button type="button" class="btn btn-outline-secondary ">Modifier</button>
						</a>


						<button type="button" class="btn btn-danger" onclick="myFunction({{etablissement.getId()}})" data-bs-target="#exampleModal" data-bs-toggle="modal">Supprimer</button>

					</div>

				</div>
			</div>
		</div>
	</div>
	<script>
		function myFunction(id) {
const btn = document.getElementById("btn");
btn.href = "/etablissement/delete/" + id;
}
	</script>

{% endblock %}
